@import "~bootstrap/scss/bootstrap";

body {
	background-color: #282c34;
}
#reseta-placar,
#altera-placar {
	font-size: 3rem;
}

.fundo-placar {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}

.placar{
	display: flex;
	align-items: center;
	justify-content: center;
}